@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Mono", sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}

.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    height: 45px;
    width: 45px;
    background-color: #158C03;
    border-radius: 40%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}

.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

nav .togglebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;
}

nav .togglebtn span {
    display: block;
    background-color:#158C03;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks {
    list-style-type: none;
}

nav .navlinks li {
    display: inline-block;
}

nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}

nav .navlinks li a:hover {
    color: #158C03;
    
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

.container .hero-pic {
    width: 300px;
    height: 300px;
    border-radius: 30%;
    overflow: hidden;
    border: 4px solid #158C03;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);
}

.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.hero-pic img:hover {
    transform: scale(1.2);
}

.hero-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.hero-text h5 {
    color: #e5e5e5;
    font-size: 14px;
}

.hero-text h5 span {
    color: #e5e5e5;
    font-size: 16px;
}

.hero-text h1 {
    color: #158C03;
    font-size: 3rem;
    letter-spacing: 2px;
}

.hero-text p {
    color: #e5e5e5;
}

.btn-group {
    margin: 45px 0;
}

.btn-group .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

.btn.active {
    border-color:#158C03;
}

.hero-text .social-linkedin i {
    color: #e5e5e5;
    font-size: 35px;
    margin-right: 10px;
    transition: 0.8s;
}

.hero-text .social-instagram i {
    color: #e5e5e5;
    font-size: 35px;
    margin-right: 10px;
    transition: 0.8s;
}

.hero-text .social-linkedin i:hover {
    color:#0274B3;
    transform: rotate(360deg);
}

.hero-text .social-instagram i:hover {
    color:#D9307F;
    transform: rotate(360deg);
}

@media(max-width:930px)

{
    nav .togglebtn {
        display: initial;
    }

    .click {
        top: 45px;
    }

    .click span {
        position: absolute;
        margin-top: 12px;
    }

    .click span:nth-child(2) {
        opacity: 0;
        margin: 0;
    }

    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }

    nav .navlinks {
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }

    nav .navlink li {
        display: block;
    }

    nav .navlink li a {
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }

    nav .navlink.open {
        right: 0;
    }
}

@media(max-width:768px) {
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }

    .hero-text{
        padding: 40px 0px;
    }
}